*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

p{
  margin: 0;
}

body{
  height: 100vh;
  width: 100%;
}

main{
  height: 90vh;
  width: 100%;
}

/* navbar */

nav{
  height: 10vh;
  box-shadow: 0 1px 4px 1px rgba(0,0,0,.1);
}

.logo{
  height: 50px;
  width: 30px;
}

.logotext{
  font-size: 1rem;
  font-weight:bold ;
}

li:hover{
  background-color: rgb(241, 250, 250);
}

.profile{
  background-color: lightgrey;
  border-radius: 50%;
  padding: 4px;
}

/* counters */

.counterlist{
  padding: 50px;
}

.counteritem{
  color: blue;
  width: 100px;
  background-color: rgb(189, 223, 235);
  margin: 0px 3px;
  border-radius: 10%;
  max-height: 90px;
  cursor: pointer;
}

.counteritem p{
  font-size: 40px;
}

/* .stepper */

.stepper{
  flex: 1;
  width: 100%;
  padding: 30px;
}

.stepper ul{
  list-style: none;
}

.stepper li{
  position: relative;
  background-color: rgb(189, 223, 235);
  padding: 7px;
  margin: 10px 0px;
  text-transform: lowercase ;
  font-size: 12px;
}

.stepper li::before{
  content: '';
  background-color: lightblue;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  font-size: 20px;
  color: blue;
  position: absolute;
  display: flex;
  top: 30%;
  left: -20px;
}

.destination{
  top:-40px;
  left: -18px;
  width: 20px;
  height: 20px;
}

.warehouse{
  left: -27px;
}

/* .tablediv */

.tablediv{
flex: 2;
}

#table{
  font-size: 12px;
}
