*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100%;
}

main{
  height: 90vh;
  width: 100%;
}

/* navbar */

nav{
  height: 10vh;
  box-shadow: 0 1px 4px 1px rgba(0,0,0,.1);
}

.logo{
  height: 50px;
  width: 30px;
}

.logotext{
  font-size: 1rem;
  font-weight:bold ;
}

li:hover{
  background-color: rgb(241, 250, 250);
}

.profile{
  background-color: lightgrey;
  border-radius: 50%;
  padding: 4px;
}

/* counters */

.counterlist{
  padding: 50px;
}

.counteritem{
  color: blue;
  width: 100px;
  background-color: rgb(189, 223, 235);
  margin: 0px 3px;
  border-radius: 10%;
  max-height: 90px;
  cursor: pointer;
}

.counteritem p{
  font-size: 40px;
}

.stepper{
  flex: 1;
}

.tablediv{
flex: 3;
}
